extends layout

block content
	h1 Ce este Junior Development Lab?
	p JDL este o serie de workshop-uri destinate elevilor de liceu care vor sa urmeze cursuri la una dintre facultatile specializate in domeniul IT (e.g Facultatea de Automatica si Calculatoare sau Facultatea de Informatica). Prin aceste workshop-uri elevii au ocazia sa experimenteze procesul de dezolvare al aplicatiilor software intr-un mediu diferit de cel al liceului si foarte apropiat de ceea ce ii va astepta oricum la facultatile pentru care opteaza in domeniu. JDL promoveaza valori precum open-source si importanta unei astfel de comunitati.
	p Workshop-urile se desfasoara pe durata a 6-7 saptamani, fiecare elev dispunand in toata aceasta perioada de un mentor care il va indruma in toate aspectele dezolvarii proiectului la care lucreaza.