doctype html
html
	head
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Asap:400,700', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.styled-modal
			.modal-header
				h4.modal-title #{result.title}
			.modal-body
				p #{result.status}
				- if (result.code === 0)
					h4 Ce poți face în continuare?
					p.
						Te poți bucura de vacanță, dar nu uita să trimiți un mesaj mentorului tău. Pentru ca aplicația ta să fie selectată și pentru a participa mai departe la proiect trebuie să convingi mentorul că ești cel mai potrivit. Cu cât vorbești mai devreme cu mentorul, cu atât mai multe sanse ai să participi mai departe.
					p Stai la curent cu noutăți despre Junior Development Labs urmărind 
						a(href='http://www.facebook.com/JuniorDevelopmentLabs') pagina oficială 
						|  de Facebook.
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.js')
