extends layout

block content
	h1 Inscriere
	p Pentru a aplica completeaza formularul de 
		a(href='https://docs.google.com/forms/d/1jS3niIEDur75IgC8Ys-uoau8yLXFiGEqMo8GVYHelRY/viewform', target='_blank') aici
		|  cat mai devreme.
	p Procesul de inscriere consta in completarea formularului mai sus mentionat. Dupa inscriere va exista o etapa de selectie in care este posibil sa fi solicitat la un mini-interviu cu mentorul proiectului la care ai aplicat. Poti aplica la cate proiecte vrei, dar vei fi acceptat la cel mult un proiect. Este recomandat sa aplici totusi doar la proiectul care ti se pare cel mai potrivit si la care ai cele mai mari sanse.
	p Nu uita ca simpla completare a formularului nu iti garanteaza un loc in echipa proiectului.
	p Deadline pentru inscrieri este 
		b Duminica, 1 iunie 2014
		|  .
	p Pentru orice nelamurire, intrebare sau ajutor, nu ezita sa ne trimiti un e-mail la 
		a(href='mailto:onea.alex@gmail.com', target='_blank') onea.alex@gmail.com
		|  sau folosind pagina de contact.