extends layout

block content
	h1 Contact
	p.
		Suntem studenti si suntem prietenosi! Ne poti scrie oricand. Pentru orice intrebare, sugestie sau chiar reclamatie (speram ca nu va fi nevoie) poti folosi formularul de mai jos. Ne plac email-urile deci fi convins ca vom raspunde prompt. Precizam ca nu suntem tocilari si nu stam intre patru pereti toata ziua. Ne poti scrie si doar pentru a ne saluta.
	.column.left-column
		form.contact-form(action='/contact', method='post')
			input.form-input(type='text', name='name', placeholder='Numele tau...')
			input.form-input(type='email', name='email', placeholder='Adresa ta de email...')
			input.form-input(type='text', name='subject', placeholder='Subiect...')
			textarea.form-input(type='text', name='message', placeholder='Mesajul tau...')
			input.btn(type='submit', name='submit', value='Trimite')
	.column.right-column
		p.
			...sau ne poti scrie la urmatoarea adresa de email:
		address
			b onea.alex@gmail.com