extends layout

block content
	include navigation
	section#cover
		.page
			h1.main-title
				span Junior
				span Development
				span Labs
			button.btn.btn-lg.centre.btn-apply.btn-link(href='#projects') Aplică acum
	section#about
		.page
			h1.section-title Între liceu și facultate
			h3.section-subtitle Cum funcționează?
			.row.process-box
				.col-md-4.process-step
					img.process-step-image(src='/images/process/apply.png')
					h4.process-step-caption Aplică
					p.process-step-description.
						la unul dintre proiectele propuse de mentori
				.col-md-4.process-step
					img.process-step-image(src='/images/process/work.png')
					h4.process-step-caption Lucrează
					p.process-step-description.
						împreuna cu mentorul tău pe durata programului
				.col-md-4.process-step
					img.process-step-image(src='/images/process/win.png')
					h4.process-step-caption Câștigă
					p.process-step-description.
						experiență și un avantaj față de ceilalți
	section#projects
		.page
			h1.section-title Alege proiectul tău
			.projects-grid
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/1.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/2.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/3.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/4.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/3.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/4.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/1.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/2.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur
	section#participants
		.page
			h1.section-title.inverted Participanți
	section#blog
		.page
			h1.section-title.inverted Ne mândrim cu ceea ce facem
	section#contact
		.page
			h1.section-title.inverted Suntem prietenoși