extends layout

block content
	include navigation
	section#cover
		.page
			h1.main-title
				span Junior
				span Development
				span Labs
			button.btn.btn-lg.centre.btn-apply.btn-link(href='#projects') Aplică acum
	section#about
		.page
			h1.section-title Între liceu și facultate
			h3.section-subtitle Cum funcționează?
			.row.process-box
				.col-md-4.process-step
					img.process-step-image(src='/images/process/apply.png')
					h4.process-step-caption Aplică
					p.process-step-description.
						la unul dintre proiectele propuse de mentori
				.col-md-4.process-step
					img.process-step-image(src='/images/process/work.png')
					h4.process-step-caption Lucrează
					p.process-step-description.
						împreuna cu mentorul tău pe durata programului
				.col-md-4.process-step
					img.process-step-image(src='/images/process/win.png')
					h4.process-step-caption Câștigă
					p.process-step-description.
						experiență și un avantaj față de ceilalți
	section#projects
		.page
			h1.section-title Alege proiectul tău
			.projects-grid
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/1.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/2.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/3.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/4.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/3.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/4.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur	
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/1.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur
				.col-md-4.project-box
					.project
						.tile-cover
						img.project-cover(src='/images/projects/covers/2.jpg')
						.project-info
							h4.project-title Code a lot
							p.project-description Mult codat face rau la ficat dar e bine de codat pentru ca nu mori singur
	section#mentors
		.page
			h1.section-title.inverted Cine suntem și ce facem?
			h3.section-subtitle.small.inverted.
				Suntem o mână de stundeți, fiecare pasionat de ceva anume și suntem dispuși să împărțim tot ceea ce știm
			.row.mentors-grid.inverted
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/alex.jpg')
						h4.mentor-name Alexandru Onea
						p.mentor-info School of Computer Science, University Of Manchester, Anul 2
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/cosmin.jpg')
						h4.mentor-name Cosmin Chirpac
						p.mentor-info School of Architecture, University Of Manchester, Anul 1
				.col-md-4.mentor-box
					.mentor
						.mentor-photo-box
							img.mentor-photo(src='/images/mentors/adrian.jpg')
						h4.mentor-name Andrian Nenu
						p.mentor-info School of Computer Science, University Of Manchester, Anul 1
	section#blog
		.page
			h1.section-title.inverted Cum și cu ce ne lăudam
	section#contact
		.page
			h1.section-title.inverted Suntem prietenoși și sociabili
			h3.section-subtitle.inverted.small.
				Ne place să stăm de vorbă. Întrebări, sugestii, reclamații, sau un simplu salut, nu ezita să ne scrii.
			form.contact-form.form-inline
				.input-group
					snap.input-group-addon: span.glyphicon.glyphicon-user
					input.form-control.input-lg(type='text', placeholder='Numele tau...')
				.input-group
					span.input-group-addon: span.glyphicon.glyphicon-envelope
					input.form-control.input-lg(type='text', placeholder='Adresa de email...')
				.input-group.full-width
					span.input-group-addon.pull-top: span.glyphicon.glyphicon-comment
					textarea.form-control.input-lg(placeholder='Mesajul tau', rows='5')
				.input-group.full-width.centre
					button.btn.btn-lg.btn-send-message Trimite
			p.footer.inverted.centre
				span © 2014 Alexandru Onea. All rights reserved.