extends layout

block content
	.main#main
		.container-fluid.the-process
			.column-third.centre.process-step
				h1 1. Aplica
				img(src='/images/main/aplica.png')
			.column-third.centre.process-step
				h1 2. Alege
				img(src='/images/main/alege.png')
			.column-third.centre.process-step
				h1 3. Profit!