extends layout

block content
	include navigation
	section#cover
		.main-wrapper
			h1.main-title
				span Junior
				span Development
				span Labs
			button.btn.btn-lg.centre.btn-apply Aplica acum
	section#about
		.main-wrapper
			h1 Text
	section#projects
		.main-wrapper
			h1 Text