doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(href='http://fonts.googleapis.com/css?family=Source+Code+Pro', rel='stylesheet', type='text/css')
	body
		.header#header
			.logo-wrapper.pull-left
				a.logo(href='/')
					span Junior
					span Development
					span Labs
			.nav-wrapper.pull-right
				nav.navbar
					ul.navbar-nav
						li: a(href='/about') Despre
						li: a(href='/apply') Inscriere
						li: a(href='/projects') Proiecte
						li: a(href='#') Participanti
						li: a(href='#') Blog
						li: a(href='#') Contact
		block content