doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Asap:400,700', type='text/css')
		//- link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:100,300&subset=latin-ext', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content

		script(data-main="js/script", src="js/require.js")
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.js')