doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Asap:400,700', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset='utf-8')
		meta(name='description', content='Junior Development Labs este un program susținut de studenți, dedicat exclusiv elevilor de liceu, având ca scop dezvoltarea lor în plan academic')
		meta(name='robots', content='index, follow')
	body
		block content

		script(data-main="js/script", src="js/require.js")
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.js')
		script(src='/js/ga.js')