nav.navbar.navbar-default.navbar-fixed-top.navigation-bar(role='navigation')
	.container.container-fluid.centre
		.collapse.navbar-collapse
			ul.nav.navbar-nav
				li.col-sm-1
				li.col-sm-2: a(href='#cover')
					span: img.navigation-icon(src='/images/navigation/home.png')
					br
					span Acasă
				li.col-sm-2: a(href='#about')
					span: img.navigation-icon(src='/images/navigation/info.png')
					br
					span Despre
				li.col-sm-2: a(href='#projects')
					span: img.navigation-icon(src='/images/navigation/projects.png')
					br
					span Proiecte
				li.col-sm-2: a(href='#mentors')
					span: img.navigation-icon(src='/images/navigation/participants.png')
					br
					span Mentori
				//- li.col-sm-2: a(href='#blog') 
				//- 	span: img.navigation-icon(src='/images/navigation/blog.png')
				//- 	br
				//- 	span Blog
				li.col-sm-2: a(href='#contact')
					span: img.navigation-icon(src='/images/navigation/contact.png')
					br
					span Contact
				li.col-sm-1