extends layout

block content
	h1 Proiecte
	p Lista completa cu proiectele propuse pentru aceasta editie se afla mai jos. Citeste cu atentie despre fiecare proiect inainte sa aplici, si asigura-te ca aplici doar pentru proiectele care sunt cele mai potrivite pentru tine si la care ai cele mai multe sanse.