doctype html
html
	head
		title= title
		link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Asap:400,700', type='text/css')
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		meta(charset='utf-8')
		meta(name='description', content='Junior Development Labs este un program susținut de studenți, dedicat exclusiv elevilor de liceu, având ca scop dezvoltarea lor în plan academic')
		meta(name='robots', content='index, follow')
	body
		nav.navbar.navbar-default.navbar-fixed-top.navigation-bar(role='navigation')
			.container.container-fluid.centre
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.col-sm-1
						li.col-sm-2: a(href='#cover')
							span: img.navigation-icon(src='/images/navigation/home.png')
							br
							span Acasă
						li.col-sm-2: a(href='#about')
							span: img.navigation-icon(src='/images/navigation/info.png')
							br
							span Despre
						li.col-sm-2: a(href='#location')
							span: img.navigation-icon(src='/images/navigation/location.png')
							br
							span Unde?
						li.col-sm-2: a(href='#speakers')
							span: img.navigation-icon(src='/images/navigation/participants.png')
							br
							span Speakeri
						//- li.col-sm-2: a(href='#blog') 
						//- 	span: img.navigation-icon(src='/images/navigation/blog.png')
						//- 	br
						//- 	span Blog
						li.col-sm-2: a(href='#contact')
							span: img.navigation-icon(src='/images/navigation/contact.png')
							br
							span Contact
						li.col-sm-1

		section#cover.talks-cover
			.mask
			.page
				h1.main-title
					span Junior
					span Development
					span Talks
				.tarlan
					a.btn.btn-lg.centre.btn-apply.btn-link(href='https://www.eventbrite.co.uk/e/jdtalks-tickets-12688133549', target='_blank') Rezervă un bilet acum
		section#about
			.page
				h1.section-title JDTalks
				h3.section-subtitle Povești. Oameni. Idei
				h4(style='font-weight: 300').
					JDTalks este locul unde poveștile celor mai buni studenți devin motivație și inspirație pentru generațiile următoare, unde ideile și reușitele lor sunt împărtășite în forma unor discursuri scurte dar eficiente. Ce dorim să promovăm? Importanța implicării și beneficiile pe care le poți avea dacă alegi să nu te limitezi la curriculum-ul obișnuit.
				h4(style='font-weight: 300').
					Cui se adresează JDTalks? Tuturor elevilor, dar în special celor care vor să lase ceva în urma lor, celor care vor să se implice și care vor să aducă o schimbare.
				h4(style='font-weight: 300').
					Cum funcționează? JDTalks este o conferință. Odată la 3 luni, studenți șmecheri se strâng fizic sau online și împărtășesc din ideile și povestea lor elevilor pasionați și entuziasmați. Elevii au ocazia să cunoască o parte dintre speakeri, dar să se și cunoască între ei în pauzele de networking. JDTalks este un eveniment social și, nu în ultimul rând, este GRATUIT!
		section#location
			.page
				h1.section-title.inverted Când și unde?
				.custom-container
					#map-canvas(style='float: left')
					.info.pull-right(style='max-width: 50%; float: right')
						p.inverted.
							JDTalks este găzduit de Colegiul Național "Nicolae Bălcescu" și va avea loc pe data de 25 august.
						a.btn.btn-lg.centre.btn-apply.btn-link(href='https://www.eventbrite.co.uk/e/jdtalks-tickets-12688133549', target='_blank') Vreau bilet
		section#speakers
			.page
				h1.section-title.inverted Speakeri
				h3.section-subtitle.small.inverted.
					Poveștile lor pot deveni inspirația ta
				.speaker-box
					.speaker-frame
						img.speaker-photo(src='/images/speakers/cosmin.jpg')
					.speaker-info
						h3.speaker-name Cosmin Chirpac
						p.speaker-description.
							Membru și organizator BY30, membru al societății de arhitectură a universității din Manchester, asociat cu Magnus Larsson
				.speaker-box
					.speaker-frame
						img.speaker-photo(src='/images/speakers/ciuraru.jpg')
					.speaker-info
						h3.speaker-name Teodor Ciuraru
						p.speaker-description.
							Dezvoltator aplicații mobile pentru un start-up din București
				.speaker-box
					.speaker-frame
						img.speaker-photo(src='/images/speakers/silvia.jpg')
					.speaker-info
						h3.speaker-name Silvana Gagu
						p.speaker-description.
							Membru al Business Club, având o mare pasiune pentru organizarea de evenimente
				.speaker-box
					.speaker-frame
						img.speaker-photo(src='/images/speakers/luisa.jpg')
					.speaker-info
						h3.speaker-name Luisa Edveș
						p.speaker-description.
							Reprezentant curs la City University of London, vice-președinte al devizei de Talent Management al AIESEC, membru fondator și membru board al TEDx Society City University London
				.speaker-box
					.speaker-frame
						img.speaker-photo(src='/images/speakers/torok.jpg')
					.speaker-info
						h3.speaker-name Mark Adrian Török
						p.speaker-description.
							Fondator al Asociației Gutenberg, al Asociației pentru Educație Politică, SamStudia (Asociația Tinerilor și Studenților din Satu Mare), student senator al liniei germane și prefect al studenților la Universității Babes-Bolyai
				.speaker-box
					.speaker-frame
						img.speaker-photo(src='/images/speakers/andrei_oprea.jpg')
					.speaker-info
						h3.speaker-name Andrei Oprea
						p.speaker-description.
							Contribuitor și angajat la Mozilla, contribuitor la Adobe Topcoat, fost angajat Adobe Romania și un mare susținător al comunității open-source.
				.speaker-box
					.speaker-frame
						img.speaker-photo(src='/images/speakers/budisteanu.jpg')
					.speaker-info
						h3.speaker-name Ionut Alexandru Budișteanu
						p.speaker-description.
							Membru Association for Computing Machinery și Institute of Electrical and Electronics Engineers
				//- .tickets.centre
				//- 	a.btn.btn-lg.centre.btn-apply.btn-link(href='https://www.eventbrite.co.uk/e/jdtalks-tickets-12688133549', target='_blank') Vreau bilet
		//- section#blog
		//- 	.page
		//- 		h1.section-title.inverted Cum și cu ce ne lăudam
		section#contact
			.page
				h1.section-title.inverted Suntem prietenoși și sociabili
				h3.section-subtitle.inverted.small.
					Ne place să stăm de vorbă. Întrebări, sugestii, reclamații sau un simplu "salut", nu ezita să ne scrii.
				form(method='post').contact-form.form-inline
					fieldset
						.input-group
							snap.input-group-addon: span.glyphicon.glyphicon-user
							input.form-control.input-lg(type='text', name='name', id='name', placeholder='Numele tău...')
						.input-group
							span.input-group-addon: span.glyphicon.glyphicon-envelope
							input.form-control.input-lg(type='email', name='email', id='email', placeholder='Adresa de e-mail...')
						.input-group.full-width
							span.input-group-addon.pull-top: span.glyphicon.glyphicon-comment
							textarea.form-control.input-lg(name='content', id='content', placeholder='Mesajul tău', rows='5')
						.input-group.full-width.centre
							button.btn.btn-lg.btn-send-message Trimite
				p.footer.inverted.centre
					.footer-info
						.row.inverted
							.col-md-4
								p.centre Eveniment organizat in parteneriat cu
									a(href='http://www.cnnb.ro'): img(src='/images/logo/cnnb_logo.png', width='50%')
							.col-md-4
								p.centre Sponsori
							.col-md-4
								p.centre Social
									.fb-like-box(data-href='https://www.facebook.com/JuniorDevelopmentLabs', data-colorscheme='light', data-show-faces='false', data-header='false', data-stream='false', data-show-border='true')
					span.centre.inverted
						a(target='_blank', href='https://www.google.com/search?site=&tbm=isch&source=hp&biw=1600&bih=775&q=yolo&oq=yolo&gs_l=img.12...0.0.0.7082.0.0.0.0.0.0.0.0..0.0....0...1ac..47.img..0.0.0.1qySl_w2MtY&gws_rd=ssl') Regulament
						span  | 
						a(target='_blank', href='/legal/privacy_policy.txt') Politica de securitate
						span  | 
						a(href='/sponsorizari') Fii sponsor
						span  |  
						a(href='mailto:contact@jdl.ro?subject=DONATIE') Donații
					span.centre.inverted © 2014 Alexandru Onea. All rights reserved.

		.modal.fade.styled-modal#contact-modal(tab-index='-1', role='dialog', aria-hidden='true')
			.modal-dialog
				.modal-content

		script(data-main="js/script", src="js/require.js")
		script(src='/js/jquery.js')
		script(src='/js/bootstrap.js')
		script(src='/js/ga.js')
		script(src="https://maps.googleapis.com/maps/api/js?v=3.exp")
		script.
			var map;
			function initialize() {
				var mapOptions = {
					zoom: 17,
					center: new google.maps.LatLng(45.274963, 27.970047)
				};
				
				map = new google.maps.Map(document.getElementById('map-canvas'),
							mapOptions);

				marker = new google.maps.Marker({
						position: mapOptions.center,
						map: map,
						title: "Here you go!"
					});
			}
			google.maps.event.addDomListener(window, 'load', initialize);