@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto.woff');
	font-weight: 100;
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/RobotoLight.woff');
	font-weight: 300;
}

body {
	margin: 0px;
	/*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
	height: 100%;
}

a {
	color: #00B7FF;
}

.centre {
	display: block;
	margin: 0 auto;
	text-align: center;
}

.mask {
	width: 100%
}

.mask:after {
	content: "";
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHUlEQVQIW2NkYGD4D8SM6DRIAAQwJDFUwhRRUQcALRkSBISGlPAAAAAASUVORK5CYII=") repeat top left;
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: .5;
}

section#cover {
	position: relative;
	height: 731px;
	width: 100%;
	background-image: url('../images/bk.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

section#blog {
	background-color: #428bca;
}

section#about {
	background-color: #eee;
}

section#projects {
	background-color: #dbdbdb;
}

section#mentors {
	background-color: #1abc9c;
}

section#contact {
	background-color: #5bc0de;
}

.inverted, .inverted > * {
	color: #fff !important;
	border-color: #fff !important;
}

nav.navigation-bar {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, .8);
	border-bottom: 1px solid #444;
	height: 75px;
}

nav.navigation-bar .collapse {
	position: relative;
	margin: 0px auto;
}

nav.navigation-bar ul.nav {
	display: table;
	float: none;
	margin: 0px auto;
}

nav.navigation-bar ul.nav li a:hover {
	
}

nav.navigation-bar ul.nav li a {
	color: #aaa;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Asap', sans-serif;
	font-size: 13px;
	display: block;
	float: left;
	width: 115px;
}

nav.navigation-bar ul.nav li a:hover {
	color: #fff;
	box-shadow: inset 0 -5px 0 0 #aaa;
}

nav.navigation-bar ul.nav li .navigation-icon {
	height: 20px;
	margin-bottom: 5px;
}

.btn-link:hover {
	text-decoration: none;
}

.main-title {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 130px 0px 30px 0px;
}

.main-title span {
	font-family: 'Asap', sans-serif;
	font-size: 73px;
	color: #eee;
	display: block;
	clear: both;
	float: none;
}

.page {
	margin: 0 auto;
	max-width: 1024px;
	padding: 50px 0;
}

.page * {
	font-family: 'Roboto', sans-serif;
}

section .page .section-title {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 70px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}

section .page .section-subtitle {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	margin: 35px auto;
}

section .small {
	font-size: 25px !important;
	max-width: 600px;
	display: block !important;
}

section .page .section-title:after {
	position: relative;
	display: block;
	content: "";
	left: 50%;
	margin-left: -225px;
	width: 450px;
	height: 15px;
	border-bottom: 2px solid #999;
}

section .page .section-title.inverted:after {
	border-bottom: 2px solid #fff;
}

.btn-apply, .btn-send-message {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 19px;
	letter-spacing: 1px;
	margin: 30px auto;
	padding: 15px 30px;
	color: #eee;
	background-color: rgba(238, 238, 238, 0);
	border: 1px solid #eee;
	-webkit-transition-duration: .1s;
}

.btn-apply:hover, .btn-send-message:hover {
	color: #333;
	background-color: rgba(238, 238, 238, 1);
	-webkit-transition-duration: .2s;
}

.process-box, .projects-grid {
	margin-top: 100px;
}

.process-step {
	text-align: center;
}

.process-step-image {
	max-width: 150px;
	opacity: .95;
}

.process-step-caption {
	text-align: center;
	font-size: 40px;
}

.process-step-description {
	display: inline-block;
	width: 100%;
	text-align: center;
	max-width: 150px;
	font-size: 18px;
}

.projects-grid {
	width: 100%;
	display: inline-block;
}

.project-box {
	margin: 0px;
	padding: 0px;
	/*margin-bottom: 10px;*/
}

.project-box {
	padding: 5px;
}

.project {
	position: relative;
	display: block;
	height: 430px;
	background-color: #eee;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}

.project:hover > .tile-cover{
	background-color: rgba(0, 0, 0, .4);
}

.project:hover > .test {
	display: block;
}

.project-cover {
	width: 100%;
}

.tile-cover {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	pointer-events: none;
 }

.project-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 116px;
	padding: 10px;
	color: #000;
	background-color: #fff;
	/*border-top: 1px solid #aaa;*/
	/*background-color: rgba(0, 0, 0, .6);*/
	z-index: 101;
}

.project-title {
	font-size: 25px;
	font-weight: 300;
}

.tile-cover {
	z-index: 100;
}

.mentors-grid {
	margin-top: 150px;
}

.mentor {
	position: relative;
	text-align: center;
}

.mentor-photo-box {
	display: inline-block;
	text-align: center;
	border-radius: 1000px;
	overflow: hidden;
	width: 280px;
	height: 280px;
	border: 3px solid #eee;
}

.mentor-photo {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

.mentor-name, .mantor-info {
	display: inline-block;
	width: 100%;
	margin: 10px auto;
}

form.contact-form textarea.form-control:focus, form.contact-from input.form-control:focus {
	outline: 0;
	border-color: #ccc;
	box-shadow: none !important;
	/*border: none !important;*/
	-webkit-box-shodow: none !important;
}

.contact-form .form-control:focus {
	outline: 0;
	border-color: #ccc;
	box-shadow: none !important;
	/*border: none !important;*/
	-webkit-box-shodow: none !important;
}

form.contact-form .has-error textarea.form-control:focus, form.contact-from .has-error input.form-control:focus {
	outline: 0;
	border-color: #a94442;
	box-shadow: none !important;
	/*border: none !important;*/
	-webkit-box-shodow: none !important;
}

.contact-form .has-error .form-control:focus {
	outline: 0;
	border-color: #a94442;
	box-shadow: none !important;
	/*border: none !important;*/
	-webkit-box-shodow: none !important;
}

form.contact-form {
	display: inline-block;
	width: 100%;
}

form.contact-form .input-group {
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
	float: left;
}

form.contact-form .input-group-addon {
	width: 50px;
	border-right: none;
	background: #fff;
}

form.contact-form .input-group-addon > .glyphicon{
	color: #aaa;
	font-family: 'Glyphicons Halflings';
}

form.contact-form .input-group .form-control {
	width: 100%;
	padding-left: 0px;
	border-left: none;
	background: #fff;
}

.pull-top {
	vertical-align: top;
}

.pull-top > .glyphicon {
	margin-top: 10px;
}

.full-width {
	width: 100% !important;
	max-width: 100%;
	resize: none !important;
}

.footer-info .col-md-4 {
	margin: 0px 0px 50px 0px;
	padding: 10px;
}

.mentor-contact-box {
	height: 60px;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	text-align: center;
	z-index: 100;
	display: none;
}

.mentor:hover > .mentor-contact-box {
	display: block;
}

.facebook-contact, .mail-contact {
	position: relative;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 0px 10px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.facebook-contact {
	background-image: url('../images/social/facebook.png');
}

.mail-contact {
	background-image: url('../images/social/mail.png');
}

.fb-like-box {
	background: #fff;
	width: 100%;
}

.footer-info .row .col-md-4 p {
	margin-bottom: 20px;
}

.test {
	text-align: center;
	position: relative;
	margin: 0 auto;
	z-index: 101;
	display: none;
}

.controls {
	display: inline-block;
	position: absolute;
	margin: 90px auto;
	width: 200px;
	margin-left: -100px;
	
}

.btn-project-apply, .btn-project-details {
	position: relative;
	width: 200px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 19px;
	letter-spacing: 1px;
	padding: 15px 30px;
	color: #eee;
	background-color: rgba(238, 238, 238, 0);
	border: 1px solid #eee;
	margin-bottom: 10px;
	-webkit-transition-duration: .1s;
}

#project-details-modal .modal-dialog {
	width: 90%;
}

.modal-content, .styled-modal {
	font-family: 'Roboto', sans-serif;
	border-radius: 3px;
}

#project-details-modal h4.modal-title, .styled-modal h4.modal-title {
	font-size: 40px;
	font-weight: 300;
}

#project-details-modal .mentor-name:before {
	content: "Mentor: ";
	font-weight: bold;
}

#project-details-modal .mentor-email:before {
	content: "E-mail: ";
	font-weight: bold;
}

#project-details-modal .skill-list:before {
	content: "Ce trebuie să ai: ";
	font-weight: bold;
}

#project-details-modal .skill-list span:after {
	content: ", ";
}

#project-details-modal .skill-list span:last-child:after {
	content: "";
}

#auth-modal, .apply-frame {
	border: none;
	width: 100%;
	height: 500px;
}

form.apply-form input,
form.apply-form select {
	border-radius: 6px !important;
}

form.apply-form .input-group {
	width: 100% !important;
}

iframe {
	border-radius: 3px;
}

.page-line {
	border-color: #ccc;
}

.large {
	font-size: 20px;
	line-height: 28px;
}

.table-image {
	width: 100%;
}

.align-left {
	text-align: left;
	padding-right: 10%;
}

.align-right {
	text-align: right;
	padding-left: 10%;
}

.large-text {
	font-size: 25px;
	line-height: 35px;
}

.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
    clear: both;
    margin-top: 100px;
    margin-bottom: 70px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}

.col-middle {
	vertical-align: middle;
}

.table-image {
	max-width: 200px;
	opacity: .8;
}