body {
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
}

a {
	color: #00B7FF;
}

.centre {
	display: block;
	margin: 0 auto;
}

section#cover {
	position: relative;
	height: 731px;
	width: 100%;
	background-image: url('../images/blackboard.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

section#about {
	background-color: #eee;
}

nav.navigation-bar {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid #444;
	height: 75px;
}

nav.navigation-bar .collapse {
	position: relative;
	margin: 0px auto;
}

nav.navigation-bar ul.nav {
	display: table;
	float: none;
	margin: 0px auto;
}

nav.navigation-bar ul.nav li a:hover {
	
}

nav.navigation-bar ul.nav li a {
	color: #aaa;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Asap', sans-serif;
	font-size: 13px;
	display: block;
	float: left;
	width: 115px;
}

nav.navigation-bar ul.nav li a:hover {
	color: #fff;
	box-shadow: inset 0 -5px 0 0 #aaa;
}

nav.navigation-bar ul.nav li .navigation-icon {
	height: 20px;
	margin-bottom: 5px;
}

.main-title {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 130px 0px 30px 0px;
}

.main-title span {
	font-family: 'Asap', sans-serif;
	font-size: 73px;
	color: #eee;
	display: block;
	clear: both;
	float: none;
}

.page {
	margin: 0 auto;
	max-width: 1024px;
	padding: 50px 0;
}

.page * {
	font-family: 'Roboto', sans-serif;
}

section .page .section-title {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 70px;
	font-weight: 100;
}

section .page .section-title:after {
	position: relative;
	display: block;
	content: "";
	left: 50%;
	margin-left: -225px;
	width: 450px;
	height: 15px;
	border-bottom: 2px solid #999;
}

.btn-apply {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 19px;
	letter-spacing: 1px;
	margin: 30px auto;
	padding: 15px 30px;
	color: #eee;
	background-color: rgba(238, 238, 238, 0);
	border: 1px solid #eee;
	-webkit-transition-duration: .1s;
}

.btn-apply:hover {
	color: #333;
	background-color: rgba(238, 238, 238, 1);
	-webkit-transition-duration: .2s;
}

.process-box {
	margin-top: 100px;
}

.process-step {
	text-align: center;
}

.process-step-image {
	max-width: 150px;
}

.process-step-caption {
	text-align: center;
	font-size: 40px;
}

.process-step-description {
	display: inline-block;
	width: 100%;
	text-align: center;
	max-width: 150px;
	font-size: 18px;
}