@font-face {
	font-family: Roboto;
	src: url('/fonts/Roboto.woff');
	font-weight: 100;
}

@font-face {
	font-family: Roboto;
	src: url('/fonts/RobotoLight.woff');
	font-weight: 300;
}

body {
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	height: 100%;
}

a {
	color: #00B7FF;
}

.centre {
	display: block;
	margin: 0 auto;
	text-align: center;
}

section#cover {
	position: relative;
	height: 731px;
	width: 100%;
	background-image: url('../images/blackboard.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
}

section#blog {
	background-color: #428bca;
}

section#about {
	background-color: #eee;
}

section#projects {
	background-color: #dbdbdb;
}

section#mentors {
	background-color: #1abc9c;
}

section#contact {
	background-color: #5bc0de;
}

.inverted, .inverted > * {
	color: #fff !important;
	border-color: #fff !important;
}

nav.navigation-bar {
	position: fixed;
	left: 0px;
	right: 0px;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 1);
	border-bottom: 1px solid #444;
	height: 75px;
}

nav.navigation-bar .collapse {
	position: relative;
	margin: 0px auto;
}

nav.navigation-bar ul.nav {
	display: table;
	float: none;
	margin: 0px auto;
}

nav.navigation-bar ul.nav li a:hover {
	
}

nav.navigation-bar ul.nav li a {
	color: #aaa;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Asap', sans-serif;
	font-size: 13px;
	display: block;
	float: left;
	width: 115px;
}

nav.navigation-bar ul.nav li a:hover {
	color: #fff;
	box-shadow: inset 0 -5px 0 0 #aaa;
}

nav.navigation-bar ul.nav li .navigation-icon {
	height: 20px;
	margin-bottom: 5px;
}

.btn-link:hover {
	text-decoration: none;
}

.main-title {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 130px 0px 30px 0px;
}

.main-title span {
	font-family: 'Asap', sans-serif;
	font-size: 73px;
	color: #eee;
	display: block;
	clear: both;
	float: none;
}

.page {
	margin: 0 auto;
	max-width: 1024px;
	padding: 50px 0;
}

.page * {
	font-family: 'Roboto', sans-serif;
}

section .page .section-title {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 70px;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}

section .page .section-subtitle {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 40px;
	font-weight: 300;
	margin: 35px auto;
}

section .small {
	font-size: 25px !important;
	max-width: 600px;
	display: block !important;
}

section .page .section-title:after {
	position: relative;
	display: block;
	content: "";
	left: 50%;
	margin-left: -225px;
	width: 450px;
	height: 15px;
	border-bottom: 2px solid #999;
}

section .page .section-title.inverted:after {
	border-bottom: 2px solid #fff;
}

.btn-apply, .btn-send-message {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	font-size: 19px;
	letter-spacing: 1px;
	margin: 30px auto;
	padding: 15px 30px;
	color: #eee;
	background-color: rgba(238, 238, 238, 0);
	border: 1px solid #eee;
	-webkit-transition-duration: .1s;
}

.btn-apply:hover, .btn-send-message:hover {
	color: #333;
	background-color: rgba(238, 238, 238, 1);
	-webkit-transition-duration: .2s;
}

.process-box, .projects-grid {
	margin-top: 100px;
}

.process-step {
	text-align: center;
}

.process-step-image {
	max-width: 150px;
}

.process-step-caption {
	text-align: center;
	font-size: 40px;
}

.process-step-description {
	display: inline-block;
	width: 100%;
	text-align: center;
	max-width: 150px;
	font-size: 18px;
}

.projects-grid {
	width: 100%;
	display: inline-block;
}

.project-box {
	margin: 0px;
	padding: 0px;
	/*margin-bottom: 10px;*/
}

.project-box {
	padding: 5px;
}

.project {
	position: relative;
	display: block;
	height: 430px;
	background-color: #eee;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}

.project:hover > .tile-cover{
	background-color: rgba(0, 0, 0, .4);
}

.project-cover, .tile-cover {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	height: 100%;
	pointer-events: none;
}

.project-info {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 116px;
	padding: 10px;
	color: #000;
	background-color: #fff;
	border-top: 1px solid #aaa;
	/*background-color: rgba(0, 0, 0, .6);*/
	z-index: 101;
}

.project-title {
	font-size: 25px;
	font-weight: 300;
}

.tile-cover {
	z-index: 100;
}

.mentors-grid {
	margin-top: 150px;
}

.mentor {
	position: relative;
	text-align: center;
}

.mentor-photo-box {
	display: inline-block;
	text-align: center;
	border-radius: 1000px;
	overflow: hidden;
	width: 280px;
	height: 280px;
	border: 3px solid #eee;
}

.mentor-photo {
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

.mentor-name, .mantor-info {
	display: inline-block;
	width: 100%;
	margin: 10px auto;
}

input.form-control:focus, textarea.form-control:focus {
	outline: 0;
	border-color: #ccc;
	box-shadow: none !important;
}

form.contact-form {
	display: inline-block;
	width: 100%;
}

form .input-group {
	width: 50%;
	box-sizing: border-box;
	padding: 10px;
	float: left;
}

form .input-group-addon {
	width: 50px;
	border-right: none;
	background: #fff;
}

form .input-group-addon > .glyphicon{
	color: #aaa;
	font-family: 'Glyphicons Halflings';
}

form .input-group .form-control {
	width: 100%;
	padding-left: 0px;
	border-left: none;
	background: #fff;
}

.pull-top {
	vertical-align: top;
}

.pull-top > .glyphicon {
	margin-top: 10px;
}

.full-width {
	width: 100% !important;
	max-width: 100%;
	resize: none !important;
}

.footer-info .col-md-4 {
	margin: 0px 0px 50px 0px;
	padding: 10px;
}

.mentor-contact-box {
	height: 60px;
	width: 100%;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	text-align: center;
	z-index: 100;
	display: none;
}

.mentor:hover > .mentor-contact-box {
	display: block;
}

.facebook-contact, .mail-contact {
	position: relative;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin: 0px 10px;
	background-size: 100%;
	background-repeat: no-repeat;
}

.facebook-contact {
	background-image: url('../images/social/facebook.png');
}

.mail-contact {
	background-image: url('../images/social/mail.png');
}